.ipynb_checkpoints/
config.py
.DS_Store
__pycache__/

acc_scores.txt

#.gitattributes

lyric_TF.csv
filtered_lyric_TF.csv

cooccurring_lyric_TF.csv
filtered_cooccurring_TF.csv

lyric_SF.csv
filtered_lyric_SF.csv