g.raphael-group-test {
    display: none;
}

p, h1, h2, h3 {
    color: #fff;
}

.dark {
    background: #191e27;
}

.jumbotron.dark, .dark {
    color: #fff;
}

.grey-box {
    background: #fff;
    min-height: 150px;
}


